<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button label="New" icon="pi pi-plus" styleClass="p-button-success" (onClick)="openCreateProject()"></p-button>
  </div>
</p-toolbar>

<div class="project-container">
  <p-virtualScroller [value]="projects" scrollHeight="100vh" [itemSize]="150" class="">
    <ng-template pTemplate="item" let-project>
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <p-button *ngIf="!activeLog || activeLog.projectName !== project.name" icon="pi pi-play"
            (onClick)="startProject(project)"></p-button>
          <p-button *ngIf="activeLog && activeLog.projectName === project.name" styleClass="p-button-warning"
            icon="pi pi-pause" (onClick)="stopProject()"></p-button>
            <h5 class="project-name">
                {{project.name}}
            </h5>
            <p-tag *ngIf="activeLog && activeLog.projectName === project.name" value="{{timer | async | date : 'HH:mm:ss' : 'utc'}}"></p-tag>
        </div>
        <div class="p-toolbar-group-right">
            <p-button icon="pi pi-trash" styleClass="p-button-danger" (onClick)="deleteProject(project)"></p-button>
        </div>
      </p-toolbar>
    </ng-template>
  </p-virtualScroller>
</div>

<p-selectButton [options]="ranges" [(ngModel)]="selectedRange" (ngModelChange)="onRangeChange()" optionLabel="label"></p-selectButton>

<div class="card">
  <h5>Total for period</h5>
  <p-chart type="doughnut" [data]="timeChartOptions"></p-chart>
</div>

<div class="card">
  <h5>Details by time</h5>
  <p-chart type="bar" [data]="timeChartDetailOptions" [options]="stackedOptions"></p-chart>
</div>

<p-dialog header="Create Project" [(visible)]="createNew" [modal]="true">
  <h5>Project Name</h5>
  <div class="field">
    <input id="name" type="text" pInputText #projectName>
  </div>
  <ng-template pTemplate="footer">
    <div class="field">
      <p-button styleClass="p-button-text" label="Create" icon="pi pi-plus" [disabled]="!projectName.value"
        (onClick)="createProject(projectName.value)"></p-button>
    </div>
  </ng-template>
</p-dialog>